/* ------------------- div parent*/
.rouletteWheelMainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ------------------- partie exterieur de la roulette (immobile)*/
.ExtWheel {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: rgb(183, 102, 102);
  border-radius: 50%;
}
/* -------------------parent des nombres*/
#InterWheel {
  position: absolute;
  left: calc(50% - 175px);
  top: calc(50% - 175px);
  width: 350px;
  height: 350px;
  background-color: rgb(138, 52, 52);
  border-radius: 50%;
}
.chiffreWheel {
  position: absolute;
  left: calc(50% - 10px);
  top: 4px;
  width: 20px;
  height: 20px;
  transform-origin: 50% calc(172px); /* Rayon du cercle (ajustez au besoin) */
  font-size: 14px;
  background-color: transparent;
}
/* -------------------parent de la bille*/
#billeWheel {
  position: absolute;
  left: calc(50% - 175px);
  top: calc(50% - 175px);
  width: 350px;
  height: 350px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
}
#bille {
  position: absolute;
  left: 50%;
  top: -20px;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  transform-origin: 50% calc(190px);
  box-shadow: 10px 10px 10px black;
  margin-right: 20px;
}
