body {
  background-color: rgb(144 11 42);
  color: white;
}

/*------------------------------------------------Couleur*/
.red {
  background-color: red;
}
.black {
  background-color: black;
}
.green {
  background-color: rgb(26, 171, 24);
}

/*--------------------------------------------------------------div mère du Plateau*/
.rouletteContainerMain {
  display: flex;
  flex-direction: column;
}
/*---------------------------partie chiffre /0/ et condition coté*/
#roulettePlateauHorizontal {
  display: flex;
  justify-content: center;
}

td {
  border: 2px solid rgb(255, 255, 255);
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: rgb(153, 113, 52);
  cursor: pointer;
}
table {
  table-layout: fixed;
  border-collapse: collapse;
}
/*----------------------conditions coté droit 2 to 1*/
.conditionTriple {
  width: 40px;
  height: 70px;
}

.tierGauche .conditionTriple span {
  font-size: 17px;
  display: inline-block;
  transform: rotate(-90deg);
  transform-origin: center;
  white-space: nowrap; /* Empêche les retours à la ligne */
}
/*  -------------------------- les chiffres iniquement*/

/*--------------le zero */
.zero {
  min-width: 44px;
  min-height: 100px;
  background-color: rgb(26, 171, 24);
}
.zero td span {
  display: inline-block;
  transform: rotate(-90deg);
  transform-origin: center;
  white-space: nowrap; /* Empêche les retours à la ligne */
}
/*-------------------1-36 */
.upperPlateau {
  min-width: 300px;
  min-height: 150px;
}

.upperPlateau td {
  min-height: 100px;
  width: 40px;
  height: 70px;
}
/*------------------ -90° chiffres*/
.upperPlateau .chiffre {
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.upperPlateau .chiffre span {
  display: inline-block;
  transform: rotate(-90deg);
  white-space: nowrap;
}

/*  --------------------- les tiers bas 1-12*/
.middlePlateau {
  width: 300px;
  max-height: 100px;
  margin: auto;
}

.middlePlateau td {
  width: 170px;
  height: 50px;
}
/*  --------- les 6 conditions en bas*/
.downPlateau {
  display: flex;
  justify-content: center;
  min-width: 300px;
  max-height: 100px;
  margin: auto;
}
.downPlateau td {
  min-width: 82.5px;
  height: 50px;
}

.tierGauche {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*---------------------------------------------------div mère tout en haut (sauf paris)*/
#rouletteContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/*-----------------------------------------------Resultat*/
#resultatDisplay {
  width: 170px;
  height: 70px;
  background-color: blue;
}
.infoTop {
  margin-left: 30px;
}
/*------------------------------------------------------------------info mère paris*/
.displayPariPlacees {
  min-height: 20vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*-----------------------------------------------------style bouton */
button {
  font-style: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.boutonMise {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.boutonMiseTout {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.buttonRetirParis {
  margin-top: 200px;
  width: 100px;
  height: 70px;
  margin: auto;
}
/*--------------------------------jeton Mises placées*/

.jeton {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%; /* Rend l'élément circulaire */
  font-size: 13px;
  color: black;
  display: flex; /* Active le flexbox pour le centrage */
  align-items: center; /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */
  text-align: center; /* Centre le texte si c'est une ligne longue */
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3); /* Ajout d'une ombre subtile */
  border: 3px solid #9d1818; /* Bordure légère pour un effet visuel */
}
/*<p class="jeton">${mise}</p>*/
