body {
  background-color: rgb(144 11 42);
  color: white;
}

/*------------------------------------------------Couleur*/
.red {
  background-color: red;
}
.black {
  background-color: black;
}
.green {
  background-color: rgb(30, 129, 65);
}

/*----------------------------------------------------INTO TOP-----------------------------------------*/
/*-----------------------------------------------Resultat*/

.resultat {
  position: absolute;
  left: calc(50% - 125px);
  top: calc(50% - 125px);
  width: 250px;
  height: 250px;
  display: flex;
  border-radius: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.resultat p {
  text-align: center;
}
#resultatDisplay {
  font-size: 40px;
  padding-top: 40%;
  text-align: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.infoTop {
  margin-left: 10vw;
}
.credit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}
.creditNumber {
  font-size: 40px;
  margin: 0;
}

/*----------------------------------------------------PARENT PLATEAU-----------------------------------*/
.rouletteContainerMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  background-color: brown;
  width: max-content;
  padding: 100px 90px 90px 90px;
  height: max-content;
  border-radius: 45%;
  border: solid 10px red;
}
/*--------------------------- PARENT DE --- PLATEAU TIMER ET DELET PARIS-----------------------------*/
.PlateauDelParis {
  display: flex;
  justify-content: space-evenly;
}
.timerContainer {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20vw;
}
.timer {
  font-size: 50px;
}
/*-------------------------------------------PLATEAU PARTIE HAUTE----------chiffre & x3 droite-----*/
#roulettePlateauHorizontal {
  display: flex;
  justify-content: center;
}

td {
  border: 2px solid rgb(255, 255, 255);
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: rgb(30, 129, 65);
  cursor: pointer;
}
table {
  table-layout: fixed;
  border-collapse: collapse;
}
/*----------------------conditions coté droit 2 to 1*/
.conditionTriple {
  width: 40px;
  height: 70px;
}

.tierGauche .conditionTriple span {
  font-size: 17px;
  display: inline-block;
  transform: rotate(-90deg);
  transform-origin: center;
  white-space: nowrap; /* Empêche les retours à la ligne */
}
/*  -------------------------- les chiffres iniquement*/

/*--------------le zero */
.zero {
  min-width: 44px;
  min-height: 100px;
  background-color: rgb(26, 171, 24);
}
.zero td span {
  display: inline-block;
  transform: rotate(-90deg);
  transform-origin: center;
  white-space: nowrap; /* Empêche les retours à la ligne */
}
/*-------------------1-36 */
.upperPlateau {
  min-width: 300px;
  min-height: 150px;
}

.upperPlateau td {
  min-height: 100px;
  width: 40px;
  height: 70px;
}
/*------------------ -90° chiffres*/
.upperPlateau .chiffre {
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.upperPlateau .chiffre span {
  display: inline-block;
  transform: rotate(-90deg);
  white-space: nowrap;
}

/*  --------------------- les tiers bas 1-12*/
.middlePlateau {
  width: 300px;
  max-height: 100px;
  margin: auto;
}

.middlePlateau td {
  width: 170px;
  height: 50px;
}
/*  --------- les 6 conditions en bas*/
.downPlateau {
  display: flex;
  justify-content: center;
  min-width: 300px;
  max-height: 100px;
  margin: auto;
}
.downPlateau td {
  min-width: 82.5px;
  height: 50px;
}

.tierGauche {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*-------------------------------div mère tout en haut (sauf paris)*/
#rouletteContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*------------------------------------------------------------------info mère paris*/
.displayPariPlacees {
  min-height: 20vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*-----------------------------------------------------BOUTONS----------------------------------------------*/
button {
  font-style: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  transition: ease-out 0.1s;
  cursor: pointer;
}

button:hover {
  transform: scale(90%);
}

.boutonMise {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 3px rgb(255, 0, 0);
}
.boutonMiseTout {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid 3px rgb(255, 0, 0);
}

/*-------------------------------------Bouton annuler mise*/
.annulMise {
  width: 80px;
  height: 100px;
  border-radius: 50%;
}
/*-------------------------------------Bouton annuler paris*/
.buttonRetirParis-container {
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonRetirParis {
  width: 100px;
  height: 70px;
  border-radius: 30px;
}
/*----------------------------------------------------------JETONS-------------------------------------------*/

.jeton {
  font-size: 13px;
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  color: black;
  display: flex; /* Active le flexbox pour le centrage */
  align-items: center; /* Centre verticalement */
  justify-content: center;
  text-align: center; /* Centre le texte si c'est une ligne longue */
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3); /* Ajout d'une ombre subtile */
  border: solid 3px rgb(255, 0, 0);
  margin: 0;
}
.jetonMise {
  font-size: 20px;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  color: black;
  display: flex; /* Active le flexbox pour le centrage */
  align-items: center; /* Centre verticalement */
  justify-content: center;
  text-align: center; /* Centre le texte si c'est une ligne longue */
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3); /* Ajout d'une ombre subtile */
  border: solid 3px rgb(255, 0, 0);
  margin: 0;
}
/*<p class="jeton">${mise}</p>*/
